@use '../abstracts' as *;

.review-card {
  .header {
    @include text-style('-sm-semibold') {
      --default-sm-line-height: 1.3;
    }

    text-wrap: balance;
  }

  .summary {
    @include text-style('-sm-normal') {
      --default-sm-line-height: 1.3;
    }

    text-wrap: balance;
  }
}
